
.images{
    filter: blur(0.5px);
}


.parent, .images{
    height: 100%;
    display: flex;
    background-color: #f2f2f2;
    
    overflow: hidden;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.image{
    transform: skew(-5deg);
    border-radius: 10px 10px;
    opacity: 0.8;
}

.overlay{
    border-radius: 40px 20px;
    background-color: rgba(250, 250, 210, 0.2);
    color: green;
    
}