.parent, .images{
    height: 100%;
    display: flex;
    background-color: lightpink;
    filter: blur(1.5px);
    overflow: hidden;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.image{
    transform: skew(-5deg);
}

